html,body {
	height: 100%;
}
.pano {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    cursor: move;
}
.pano .controls {
	position: relative;
	top: 40%;
}
.pano .controls a {
	position: absolute;
	display: inline-block;
	text-decoration: none;
	color: #eee;
	font-size: 3em;
	width: 20px;
	height: 20px;
}
.pano .controls a.left {
	left: 10px;
}
.pano .controls a.right {
	right: 10px;
}
.pano.moving .controls a {
	opacity: 0.4;
	color: #eee;
}
